version: "3.9"

services:
  db:
    image: postgres:15
    container_name: smartcampus-db
    environment:
      POSTGRES_DB: smartcampus
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: smartcampus-backend
    depends_on:
      - db
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
    container_name: smartcampus-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  db_data:

